<div class="s-testimonials">

    <div class="overlay"></div>

    <div class="row testimonials-header">
        <div class="col-full">
            <h1 class="h02">İnsanlar Benim İçin Ne Diyor?</h1>
        </div>
    </div>

    <div class="row testimonials">

        <div class="col-full testimonials__slider">

            <div class="testimonials__slide">
                <img src="~/hola-master/images/avatars/user-01.jpg" alt="Author image" class="testimonials__avatar">
                <p>
                    Disiplinli, çalışkan biri ve öğrenmeye aç :)
                </p>
                <div class="testimonials__author h06">
                    Tim Cook
                    <span>CEO, Apple</span>
                </div>
            </div>

            <div class="testimonials__slide">
                <img src="~/hola-master/images/avatars/user-05.jpg" alt="Author image" class="testimonials__avatar">
                <p>
                    Meraklı, düzenli, araştırmacı ve çalışkan biri. Deneyime ihtiyacı var.
                </p>
                <div class="testimonials__author h06">
                    Sundar Pichai
                    <span>CEO, Google</span>
                </div>
            </div>

        </div> <!-- end testimonials__slider -->

    </div> <!-- end testimonials -->

</div>
