<header class="s-header">

    

    <nav class="header-nav-wrap">
        <ul class="header-nav">
            <li><a class="smoothscroll" href="#home" title="anasayfa">Anasayfa</a></li>
            <li><a class="smoothscroll" href="#about" title="hakkımda">Hakkımda</a></li>
            <li><a class="smoothscroll" href="#works" title="projelerim">Projelerim</a></li>
            <li><a class="smoothscroll" href="#contact" title="iletişim">İletişim</a></li>
        </ul>
    </nav>

    <a class="header-menu-toggle" href="#0"><span>Menu</span></a>

</header>