<section id="works" class="s-works target-section">

    <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full">
            <h3>Portfolyo</h3>
            <h1>Son Projelerime Göz Atabilirsiniz.</h1>

            <p class="lead">Aşağıda yaptığım bazı projelerim var. Bu projelerin kodlarına üzerlerine tıklayarak github hesabımdan ulaşabilirsiniz.</p>
        </div>
    </div>

    <div class="row masonry-wrap">
        <div class="masonry">

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <img src="https://resmim.net/cdn/2024/05/05/f5qvVx.png"
                             srcset="https://resmim.net/cdn/2024/05/05/f5qvVx.png 1x, https://resmim.net/cdn/2024/05/05/f5qvVx.png 2x" alt="">
                            <span class="shadow-overlay"></span>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            To-Do App
                        </h3>
                        <p class="item-folio__cat">
                            Android-Kotlin
                        </p>
                    </div>

                    <a href="https://github.com/ramazankalin/TODO-App" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>
                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <img src="https://resmim.net/cdn/2024/05/05/f5qzW8.webp"
                             srcset="https://resmim.net/cdn/2024/05/05/f5qzW8.webp 1x, https://resmim.net/cdn/2024/05/05/f5qzW8.webp 2x" alt="">
                            <span class="shadow-overlay"></span>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Shopping List App
                        </h3>
                        <p class="item-folio__cat">
                            Android-Kotlin
                        </p>
                    </div>

                    <a href="https://github.com/ramazankalin/Shopping-List-App" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>
                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <img src="https://resmim.net/cdn/2024/05/05/f5zC6W.jpg"
                             srcset="https://resmim.net/cdn/2024/05/05/f5zC6W.jpg 1x, https://resmim.net/cdn/2024/05/05/f5zC6W.jpg 2x" alt="">
                            <span class="shadow-overlay"></span>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Askeri Sistem Yönetimi Database
                        </h3>
                        <p class="item-folio__cat">
                            SQL
                        </p>
                    </div>

                    <a href="https://github.com/ramazankalin/Askeri-Sistem-DataBase" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>
                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <img src="https://resmim.net/cdn/2024/05/05/f5qG4D.png"
                             srcset="https://resmim.net/cdn/2024/05/05/f5qG4D.png 1x, https://resmim.net/cdn/2024/05/05/f5qG4D.png 2x" alt="">
                            <span class="shadow-overlay"></span>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Painter
                        </h3>
                        <p class="item-folio__cat">
                            JAVA App
                        </p>
                    </div>

                    <a href="https://github.com/ramazankalin/Painter-App" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>
                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <img src="https://resmim.net/cdn/2024/05/05/f5zDjG.png"
                             srcset="https://resmim.net/cdn/2024/05/05/f5zDjG.png 1x, https://resmim.net/cdn/2024/05/05/f5zDjG.png 2x" alt="">
                            <span class="shadow-overlay"></span>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Vue.Js
                        </h3>
                        <p class="item-folio__cat">
                            Web Development
                        </p>
                    </div>

                    <a href="https://github.com/ramazankalin/quasar-web-firebase" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>
                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <img src="https://resmim.net/cdn/2024/05/05/f5zE2h.png"
                             srcset="https://resmim.net/cdn/2024/05/05/f5zE2h.png 1x, https://resmim.net/cdn/2024/05/05/f5zE2h.png 2x" alt="">
                            <span class="shadow-overlay"></span>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Web Sitenin CRUD Operasyonları
                        </h3>
                        <p class="item-folio__cat">
                            C#
                        </p>
                    </div>

                    <a href="https://github.com/ramazankalin/Kodlama-Io" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>
                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->
        </div>
    </div> <!-- end masonry -->

</section>
